.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
PNADC_032016.txt
PNADC_032016.rar
Dicionario_e_input.zip
PNADC_012021_20250815.zip
Vinculo_t1.csv
Vinculo_t2.csv
Vinculo_t3.csv
Vinculo_t4.csv
dicionario_PNADC_microdados_trimestral.xls
input_PNADC_trimestral.sas
